/* General Properties */

* {
    box-sizing: border-box;
}

:root {
    --text-colour: aqua;
}

html {
    height: 100%;
}

body {
    margin: 0px;
    min-height: 100%;
}

.container {
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
}

/* Sidebar */

.sidebar {
    grid-row: 1 / 5;
}

.logo svg {
    height: 32px;
    fill: aqua;
    vertical-align: middle;
}

.logo h1 {
    display: inline-block;
    margin: 0px;
    vertical-align: middle;
}

nav ul {
    list-style: none;
    padding: 12px;
}

.group1-links svg, .group2-links svg {
    height: 32px;
    fill: var(--text-colour);
    vertical-align: middle;
}

.group1-links a, .group2-links a {
    text-decoration: none;
}

/* Header */

.top-header {
    grid-column: 2 / -1;
    display: flex;
    justify-content: space-between;
}

.top-header svg, .top-header img {
    height: 32px;
    vertical-align: middle;
}

.user-info h2 {
    display: inline-block;
    margin: 0px;
    vertical-align: middle;
}

.bottom-header {
    grid-column: 2 / -1;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.intro h1 {
    display: inline-block;
    margin: 0px;
    vertical-align: middle;
}

.intro img {
    height: 64px;
    vertical-align: middle;
}

.projects {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    grid-auto-rows: min-content;
}

#your-projects {
    grid-column: 1 / -1;
    margin: 0px;
}

.projects h2 {
    margin-top: 0px;
}

.projects img {
    height: 128px;
    width: auto;
    border-radius: 22px;
}

.projects svg {
    height: 22px;
    width: auto;
}

.trending img {
    height: 32px;
    width: auto;
}

/* Footer */

footer {
    grid-column: 2 / 3;
    justify-self: center;
}
